 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="icon java"></i>
      <i class="icon vertx"></i>
      <i class="icon golang"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="icon git"></i>
      <i class="icon intellij"></i>
      <i class="icon docker"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Specs</h2>
      <i class="icon oauth"></i>
      <i class="icon openid"></i>
      <i class="icon openapi"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
