 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <a target="_blank" href="https://www.java.com"><i class="icon java"></i></a>
      <a target="_blank" href="https://vertx.io"><i class="icon vertx"></i></a>
      <a target="_blank" href="https://golang.org"><i class="icon golang"></i></a>
      <p>Backend developer, I am mostly used to develop in Java, using <a target="_blank" href="http://reactivex.io/">reactive</a> stack.
        I also like to develop in <a target="_blank" href="https://golang.org">golang</a> which is a powerful and easy to learn language,
        despite not being a functional language.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <a target="_blank" href="https://git-scm.com"><i class="icon git"></i></a>
      <a target="_blank" href="https://www.jetbrains.com/idea"><i class="icon intellij"></i></a>
      <a target="_blank" href="https://www.docker.com"><i class="icon docker"></i></a>
      <p>Obviously I am familiar with GIT. My favourite IDE is IntelliJ/Goland and play sometimes with <a href="https://atom.io">Atom</a>.
        I am also familiar with Docker, which, as for GIT, is a must know for any developer today.</p>
    </div>
    <div class="tech">
      <h2>Specs</h2>
      <a target="_blank" href="https://oauth.net/2"><i class="icon oauth"></i></a>
      <a target="_blank" href="https://openid.net"><i class="icon openid"></i></a>
      <a target="_blank" href="https://www.openapis.org"><i class="icon openapi"></i></a>
      <p>Any good software must provide ReST or <a target="_blank" href="https://graphql.org">GraphQL</a> APIs.
        I spent many time reading and understanding oauth2/openid specifications and finally decide to go deeper by contributing part of them
        into and open source solution (see <a href="#projects">projects</a>).</p>
    </div>
</div>
