<div class="user-details">
  <h1> Projects Contributions </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="http://gravitee.io" target="_blank">
      <img alt="Gravitee io logo" src="{{ "/assets/img/graviteeio.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents">
    <h3> Gravitee.io </h3>
    <p>Gravitee.io is an open source API platform, providing a flexible, lightweight and blazing-fast open source API Management solution as well as
    an Authorization Server (called Access Management) that helps organization to finely control who, when and how users access to APIs. 
    Here my main contributions are on the AM side, as it is related to oauth2/oidc.</p>
    <a class="project-link" target="_blank" href="https://github.com/gravitee-io/graviteeio-access-management">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a href="https://vertx.io" target="_blank">
      <img alt="Vertx logo" src="{{ "/assets/img/vertx.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3> Eclipse Vert.x </h3>
    <p>Eclipse Vert.x is a tool-​kit for build­ing re­ac­tive ap­pli­ca­tions on the JVM. Re­ac­tive ap­pli­ca­tions are both scal­able as work­loads grow, and re­silient when fail­ures arise. A re­ac­tive ap­pli­ca­tion is re­spon­sive as it keeps la­tency under con­trol by mak­ing ef­fi­cient usage of sys­tem re­sources, and by pro­tect­ing it­self from er­rors.</p>
    <a class="project-link" target="_blank" href="https://github.com/eclipse-vertx#">Check it out</a>
  </div>
</div>