<div class="user-details">
  <h1> Projects Contributions </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="gravitee io logo" src="{{ "/assets/img/graviteeio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gravitee.io </h3>
    <p>Gravitee.io is an open source API platform, providing a flexible, lightweight and blazing-fast open source API Management solution as well as
    an Authorisation Server (called Access Management) that helps organization to finely control who, when and how users access to APIs.</p>
    <a class="project-link" target="_blank" href="http://gravitee.io">Check it out</a>
  </div>
</div>
<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Decathlon developers blog </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
-->