<div class="user-details">
    <h1> Talks </h1>
</div>
<div class="user-talks">
    <div class="images-right">
        <a href="https://www.slideshare.net/AlexandreFaria11/secure-your-api-from-basics-to-beyond" target="_blank">
            <img alt="Secure api talk logo" src="{{ "/assets/img/talk_secure_api.png" | prepend: site.baseurl }}" />
        </a>
    </div>
    <div class="contents">
        <h3> Securing your API - From basics to beyond </h3>
        <p>In this talk, i speak about some basics actions to secure your API. Keeping in mind that an API remains a
            web application, without html/javascript, i will do a demo of SQL injection and then quickly review the
            <a href="https://www.owasp.org/index.php/Top_10-2017_Top_10" target="_blank">OWASP top 10</a>
            application security risks. From there i zoom on authentication doing a focus on
            <a href="https://oauth.net/2/" target="_blank">oauth2</a>/<a href="https://openid.net/connect/" target="_blank">OpenID Connect</a>.
            Stepping to API Management, i deep dive on some features that can help us to secure our APIs.</p>
        <a class="talk-link" href="https://www.slideshare.net/AlexandreFaria11/secure-your-api-from-basics-to-beyond" target="_blank">Check it out</a>
    </div>
</div>
