.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 75px;
  display: inline-block;
  text-align: center;
}

.java {
  background-image: url("../img/java.png");
}

.vertx {
  background-image: url("../img/vertx.png");
}

.golang {
  background-image: url("../img/golang.png");
}

.git {
  background-image: url("../img/git.png");
}

.intellij {
  background-image: url("../img/intellij.png");
}

.docker {
  background-image: url("../img/docker.png");
}

.openapi{
  background-image: url("../img/openapi.png");
}

.oauth{
  background-image: url("../img/oauth.png");
}

.openid{
  background-image: url("../img/openid.png");
}